<% include head_include %>
<div align=center class="ui piled segment" style="padding-top: 20px"><h1>Blog Composer</h1></div>
<div align=center><button class="ui labeled icon green button" onclick='window.location.href="/manage/articles"'><i class="left arrow icon"></i>Back</button></div>
<div class="ui main container">
    <form class="ui form" method="POST" action="/manage/article/submit" id="article_form" name="article_form">
        <div class="field" id="title-field">
            <label>Title</label>
            <input type="text" name="title" id="title-input" placeholder="Enter Title...">
        </div>
        <div class="field" id="tag-field">
            <label>Tags</label>
            <div class="ui right labeled left icon input">
                <i class="tags icon"></i>
                <input type="text" name="tags" id="tag-input" placeholder="Enter Tag...">
                <a class="ui tag label">
                    Use ',' to split tags
                </a>
            </div>
        </div>
        <div class="field" id="preface-field">
            <label>Description</label>
            <textarea id="preface" autofocus><%= article.preface %></textarea>
        </div>
        <div class="field" id="content-field">
            <label>Content</label>
            <% if(global.config.editor === 'simditor') { %>
                <textarea id="editor" autofocus><%- article.content%></textarea>
            <% } else { %>
            <div id="editor-md">
                <textarea id="editor" autofocus><%= article.content%></textarea>
            </div>
            <% } %>
        </div>
    </form>
    <div style="padding: 20px;" align="center"><button id="submit" class="ui primary button">Post Article</button></div>
    <div class="ui basic modal">
        <div id="modal-header" class="ui icon header">
            <i class="archive icon"></i>
            Post New Article?
        </div>
        <div id="modal-content" class="content" style="text-align: center;">
            <h4>Congrats for finishing a new article! Click "Yes" to submit a your new article!</h4>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                    No
            </div>
            <div id="submit_form" class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                    Yes
            </div>
        </div>
    </div>
</div>
<script>
        $(document).ready(function(){
            let editor = undefined;
            $('#title-input').attr('value', "<%= article.title %>");
            $('#tag-input').attr('value', "<%= article.tag %>");
            <% if(article.submit_type === 'update') {%>
                $('#submit').text('Update Article');
                $('#modal-header').text('Update this Article?');
                $('#modal-content').text('Congrats for finishing editing~Click Yes to apply your changes to the article!');
            <% } %>
            if("<%= global.config.editor%>" === 'simditor' || "<%= article.content_type %>" === 'html') {
                    editor = new Simditor({
                        textarea: $('#editor'), 
                        toolbar: [
                                'title',
                                'bold',
                                'italic',
                                'underline',
                                'strikethrough',
                                'fontScale',
                                'color',
                                'ol',
                                'ul',
                                'blockquote',
                                'code',
                                'table',
                                'link',
                                'image',
                                'hr',
                                'indent',
                                'outdent',
                                'alignment'
                        ]
                })
            } else {
                editor = editormd("editor-md", {
                        width: "100%",
                        height: 740,
                        path : '/libs/editor/lib/',
                        editorTheme : "pastel-on-dark",
                        codeFold : true,
                        searchReplace : true,
                        htmlDecode : "style,script,iframe|on*",   
                        emoji : true,
                        taskList : true,
                        tocm : true, 
                        tex : true,
                        flowChart : true,
                        sequenceDiagram : true,
                        imageUpload : true,
                        imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                        imageUploadURL : "/manage/upload", 
                        onload: () => {
                            console.log('Loading', this)
                        }
                    });
            }
            $('#title-input').on('input', () => {
                $('#title-field').attr('class', 'field');
            })
            $('#tag-input').on('input', () => {
                $('#tag-field').attr('class', 'field');
            })
            $('#submit').click(() => {
                $('.ui.basic.modal').modal('show');
            });
            $('#submit_form').click(() => {
                let post_data = {};
                let form_data = $('#article_form').serializeArray();
                for(let i in form_data) {
                    post_data[form_data[i].name] = form_data[i].value;
                }
                if(post_data.title === '') {
                    $('#title-field').attr('class', 'field error');
                    return;
                }
                // if(post_data.tags === '') {
                //     $('#tag-field').attr('class', 'field error');
                //     return;
                // }
                $('#submit').attr('class', 'ui primary loading button')
                let content = undefined;
                if("<%= global.config.editor %>" === 'simditor' || "<%= article.content_type %>" === 'html') {
                    content = $('#editor').val();
                    post_data.content_type = 'html';
                }else{
                    content = editor.getMarkdown();
                    post_data.content_type = 'markdown';
                }
                post_data.content = content;
                post_data.preface = $('#preface').val();
                post_data._csrf = document.head.getAttribute('data-csrf-token');
                post_data.submit_type = "<%= article.submit_type%>";
                <% if(article.submit_type === 'update') { %>
                    post_data.update_id = <%= article.update_id %>;
                <% } %>
                $.post("/manage/articles/submit", post_data, function(data){
                    if(typeof data.success !== 'undefined' && data.success === true) {
                        $('#submit').attr('class', 'positive ui button');
                        $('#submit').text('Success');
                        let redirect = data.redirect;
                        setTimeout(() => {
                            window.location.href = "<%= global.config.url %>" + redirect;
                        }, 2000);
                    }
                });
                return;
            });
        });
    </script>