<% include header %>
<div class="ui main container" style="width: 65%;padding-top: 85px;padding-bottom: 20px">
    <div align="center">
        <h1><%= title%></h1>
    </div>
    <div align="center">
        <span style="color: gray"><%= date %> created by <%= author %></span>
    </div>
    <% if(tags.length !== 0) { %>
        <div align="center" style="padding-top: 20px">
            <% for(var i in tags) { %>
                <div class="ui label"><%= tags[i] %></div>
            <% } %>
        </div>
    <% } %>
    <div class="ui raised segment">
        <div class="ui container" style="padding: 20px; overflow-y: scroll;">
            <%- content%>
        </div>
    </div>
    <% if(user) {%>
        <div style="padding: 20px;" align="center"><a href="/manage/articles/edit?id=<%= article_id%>" class="ui primary button">Edit Article</a></div>
    <% } %>
</div>

