<!DOCTYPE html>
<html lang="zh-cn">
<head data-csrf-token="<%= csrf%>"
    <meta charset="UTF-8">
    <title><%= title%> - <%= subtitle%></title>
    <script type="text/javascript" src="/libs/jquery.min.js"></script>
    <link rel="stylesheet" href="/libs/semantic-ui/semantic.min.css">
    <script type="text/javascript" src="/libs/semantic-ui/semantic.min.js"></script>
    <!--- Highlight.js -->
    <link rel="stylesheet" href="/libs/highlight/styles/<%= global.config.code_highlight_theme %>.css">
    <script src="/libs/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <link href="/libs/katex/katex.min.css" rel="stylesheet">
    <script src="/libs/katex/katex.min.js"></script>
    <script src="/libs/katex/contrib/auto-render.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            console.log('Rendering TeX');
            renderMathInElement(document.body);
        });
  </script>
</head>
<body>
    <div class="ui top fixed borderless labeled icon menu" style="position: fixed;">
        <div class="ui container">
            <a class="header item" href="/">
                <span style="width: 90px; height: 30px; font-size: 30px; text-align: center">
                    <%= global.config.title%>
                </span>
            </a>
            <a class="item <% if (current === 'home') { %> active <% } %>" href="/">
                <i class="home icon"> </i>
                Home
            </a>
            <a class="item <% if (current === 'archive') { %> active <% } %>" href="/archive">
                <i class="archive icon"></i>
                Archive
            </a>
            <a class="item <% if (current === 'projects') { %> active <% } %>" href="/works">
                <i class="cubes icon"></i>
                Projects
            </a>
            <a class="item <% if (current === 'about') { %> active <% } %>" href="/about">
                <i class="user icon"></i>
                About Me
            </a>
            <div class="right item">
                <form action="/" method="GET">
                    <div class="ui search">
                        <div class="ui icon input">
                                <input class="prompt" id="search-title" name="search-title" placeholder="Search Articles..." type="text">
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </br>
    </br>
    </br>
    </br>
    
