<!DOCTYPE html>
<html lang="zh-cn">
<head data-csrf-token="<%= csrf%>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
    <title><%= title%> - <%= subtitle%></title>
    <link rel="stylesheet" href="live2d/css/live2d.css" />
    <script type="text/javascript" src="/libs/jquery.min.js"></script>
    <link rel="stylesheet" href="/libs/semantic-ui/semantic.min.css">
    <link rel="stylesheet" href="/libs/hamburger.css" type="text/css" media="all">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet"> -->
    <link rel="stylesheet" href="/fonts/Serif/cmun-serif.css">
    <script type="text/javascript" src="/libs/semantic-ui/semantic.min.js"></script>
    <script type="text/javascript" src="/libs/hamburger.js"></script>
    <!--- Highlight.js -->
    <link rel="stylesheet" href="/libs/highlight/styles/<%= global.config.code_highlight_theme %>.css">
    <script src="/libs/highlight/highlight.pack.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.6.0/highlightjs-line-numbers.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>hljs.initLineNumbersOnLoad();</script>
    <style>
        .hljs-ln td.hljs-ln-numbers {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            text-align: center;
            color: #a3a3a3;
            border-right: 1px solid #a3a3a3;
            vertical-align: top;
            padding-right: 5px;

            font-family: 'Fira Code', monospace;
        }
        .hljs-ln td.hljs-ln-code {
            padding-left: 10px;
            font-family: 'Fira Code', monospace;
        }
        .live2d {
            position: fixed;
            bottom : 150px;
            left : 0px;
        }
    </style>
    <link href="/libs/katex/katex.min.css" rel="stylesheet">
    <script src="/libs/katex/katex.min.js"></script>
    <script src="/libs/katex/contrib/auto-render.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            console.log('Rendering TeX');
            renderMathInElement(document.body,{
            delimiters: [
                        {left: "$$", right: "$$", display: true},
                        {left: "\\[", right: "\\]", display: true},
                        {left: "$", right: "$", display: false},
                        {left: "\\(", right: "\\)", display: false}
                    ]
                }
            );
        });
  </script>
</head>
<body>
    <div class="ui top fixed borderless labeled icon stackable menu" style="position: fixed;">
        <div class="ui container">
            <a class="header item" href="/">
                <% if (global.config.title_image === null) {%>
                    <span  style="text-align: center;margin: auto;width: 50%;border: 2px solid black;padding: 10px;">
                        <%= global.config.title%>
                    </span>
                <% } else { %>
                    <img src="/images/<%= global.config.title_image%>" style="width: 78px"/>
                <% } %>
            </a>
            <a class="item <% if (current === 'home') { %> active <% } %>" href="/">
                <i class="home icon"> </i>
                Home
            </a>
            <a class="item <% if (current === 'archive') { %> active <% } %>" href="/archive">
                <i class="archive icon"></i>
                Archive
            </a>
            <a class="item <% if (current === 'projects') { %> active <% } %>" href="/works">
                <i class="cubes icon"></i>
                Projects
            </a>
            <a class="item <% if (current === 'about') { %> active <% } %>" href="/about">
                <i class="user icon"></i>
                About Me
            </a>
            <div class="right item">
                <form action="/" method="GET">
                    <div id="#search-article" class="ui search">
                        <div class="ui icon input">
                                <input class="prompt" id="search-title" name="search-title" placeholder="Search Articles..." type="text">
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="hamburger ">
            <span class="hamburger-home"></span>
            <span class="hamburger-archive"></span>
            <span class="hamburger-projects"></span>
            <span class="hamburger-about"></span>
        </div>
    </div>
