<% include manage_menu %>
<div class="padding ui main container">
    </br>
    <table class="ui compact selectable celled definition table">
        <thead>
            <tr>
                <th></th>
                <th style="text-align: center">#</th>
                <th style="text-align: center">Title</th>
                <th style="text-align: center">Author</th>
                <th style="text-align: center">Time Created</th>
            </tr>
        </thead>
        <tbody>
            <% if(art_cnt === 0){ %>
                <tr>
                    <td colspan="5" style="text-align: center">
                        <h4> Nothing Exists </h4>
                    </td>
                </tr>
            <% }else{ %>
                <% for(var i = 0;i < art_cnt;i += 1){ %>
                    <tr>
                        <td class="collapsing">
                            <div class="ui fitted checkbox">
                                <input type="checkbox" id="chk<%= i%>"> <label></label>
                            </div>
                        </td>
                        <td style="text-align: center"><%= 1+i+(pagination.current-1)*pagination.item_each%></td>
                        <td style="text-align: center"><%= data[i].title%></td>
                        <td style="text-align: center"><%= data[i].author%></td>
                        <td style="text-align: center"><%= data[i].time_create%></td>
                    </tr>
                <% } %>
            <% } %>
        </tbody>
        <tfoot class="full-width">
            <tr>
                <th></th>
                <th colspan="4">
                    <div class="ui right floated animated fade green button" tabindex="0">
                        <div class="hidden content">New</div>
                        <div class="visible content">
                            <i class="add icon"></i>
                        </div>
                    </div>
                    <div class="ui small button">Select All </div>
                    <div class="ui small disabled button">Delete</div>
                </th>
            </tr>
        </tfoot>
    </table>
    <% include paginator %>
</divs>